<div class="form__product">
    <div class="title">
        <h1>Productos</h1>
    </div>
    <form class="form__add" action="/api/productos" method="POST">
        <div class="inputs">
            <input class="name" type="text" name="name" id="name" placeholder="Name" required>
            <input class="price" type="number" name="price" id="price" placeholder="Price" required>
            <input class="price" type="number" name="stock" id="stock" placeholder="Stock" required>
            <input class="thumbnail" type="text" name="thumbnail" id="thumbnail" placeholder="Thumbnail" required>
            <input class="descripcion" type="text" name="descripcion" id="descripcion" placeholder="Descripcion"
                required>
            <input id="btn" class="btn__add" type="submit" value="Agregar">
        </div>
    </form>
</div>