<div>
    <div class="search">
        <div class="search__bar">
            <form action="/api/productos" method="GET">
                <label for="search">Buscar por id:</label>
                <input class="search__bar__input" type="text" id="search" name="search"
                    placeholder="Escribe el id del producto a encontrar:">
                <input type="submit" value="Buscar">
            </form>

        </div>
    </div>
</div>